<h1>Popular TV Shows</h1>

<div class="card">
  <div class="card-body">
    <% @popular_tv_shows.each_with_index do |tv_show, index| %>
      <% if index != 0 %>
        <div class="row"><div class="col"><hr /></div></div>
      <% end %>


    <% end %>

    <% if @popular_tv_shows.empty? %>
      <div>Exciting stuff coming very soon!</div>
    <% end %>
    
  </div>
</div>